body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.special-word{
    color: coral;
}
.special-word-2{
    color: limegreen;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 20%;
}
.half-width img{
    width: 80%;
}
.button-1{
    text-decoration: none;
    background-image: linear-gradient(purple, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 70%;
}
.top-word{
    border-left: 4px solid;
    border-image: linear-gradient(gold,blue);
    border-image-slice: 1;
}

.focus-area{
    font-size: 70%;
    
}
.mission-item{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-color:lightcyan;
    text-align: justify;
    background-image: url(images/illustrators/illustrator-1.png);
    background-repeat: no-repeat;
    background-size: 90px;
}
.vission-item{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    text-align: justify;
    background-image: url(images/illustrators/illustrator-2.png);
    background-repeat: no-repeat;
    background-size: 90px;
}
.goal-item{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightsalmon;
    text-align: justify;
    background-image: url(images/illustrators/illustrator-3.png);
    background-repeat: no-repeat;
    background-size: 90px;
}
img{
    width: 20%;
    padding-right: 20%;
}
.button-2{
    text-decoration: none;
    background-image: linear-gradient(purple, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 70%;
}
.dev-1{
    width: 50%;
    padding-left: 20%;
}